<!DOCTYPE html>
<html lang="en">
<head>
  {{partial "head.html"}}
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Varela+Round|Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/screencasts.css"/>
</head>
<body class="container-fluid">
  {{partial "nav.html"}}
  <div class="container">
    <div class="row">
      <h1 class="page-title">
        All Screencasts
        <small>Newest on top</small>
      </h1>
    </div>
    {{range $p := (where .Site.Pages "Type" "screencast")}}
    <div class="row media">
      <div class="date col-sm-1">
        {{dateFormat "Monday, Jan 2, 2006" $p.Date}}
      </div>
      <div class="col-sm-10">
        <h2>{{$p.Title}}</h2>
        <p>
          {{$p.Summary}}
        </p>
        <div>
          <a class="btn btn-info" href="{{$p.RelPermalink}}">View Video</a>
        </div>
      </div>
    </div>
    {{end}}
  </div>

  <div class="row text-center footer">
    {{partial "footer.html"}}
  </div>
  {{partial "js.html"}}
</body>
</html>
