# used for local development only
dev-env:
  image: postgres:12
  ports:
    - "5432:5432"
  environment:
    - "POSTGRES_PASSWORD=postgres"
    - "POSTGRES_USER=postgres"
    - "POSTGRES_DB=episode30_development"
