# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
episode0/episode0
episode1/episode1
episode2/episode2
episode3/episode3
episode4/episode4
episode5/episode5
episode6/episode6
episode7/episode7
episode8/episode8
episode9/episode9
episode10/episode10
episode11/episode11
episode11/vendor
episode12/episode12
www/public
