# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

glide
linux-amd64
glide-v0.12.0-linux-amd64.tar.gz

*.exe
*.test
*.prof
episode*/vendor
episode*/episode*
www/public
