# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

glide
linux-amd64
glide-v0.12.0-linux-amd64.tar.gz

.envrc

*.exe
*.test
*.prof
episode*/episode*
episode*/gifm
www/public

episode21/node_modules
episode21/tmp
episode21/public
episode21/public/*

episode22/node_modules
episode22/tmp
episode22/public
episode22/public/*
episode24/tmp
episode24/tmp/episode24-build

episode25/tmp
episode25/tmp/episode25-build
episode25/node_modules
episode25/public/assets

episode26/ds
