<!DOCTYPE html>
<html lang="en">
<head>
  {{partial "head.html"}}
  <link rel="stylesheet" href="/css/screencasts.css"/>
</head>
<body class="container-fluid">
  {{partial "nav.html"}}
  <div class="row">
    <div class="container">
      <div class="row">
        <h1 class="page-title">
          All Screencasts
          <small>Newest on top</small>
        </h1>
      </div>
      <div class="row">
        <p>
          <a
            class="btn btn-success btn-lg btn-inline"
            data-toggle="tooltip"
            title="Get periodic emails with new screencasts and valuable content, right in your inbox."
            href="/subscribe"
          >
            Get These in your Inbox
          </a>
        </p>
      </div>
      {{range $p := (where .Site.Pages "Type" "screencast")}}
      <div class="row media">
        <div class="date col-sm-1">
          {{dateFormat "Monday, Jan 2, 2006" $p.Date}}
        </div>
        <div class="col-sm-10">
          <h2>{{$p.Title}}</h2>
          <p>
            {{$p.Summary}}
          </p>
          <div>
            <a class="btn btn-info" href="{{$p.RelPermalink}}">View Video</a>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
  <div class="row top-sm-1">
    <div class="col-sm-8 col-sm-offset-2">
      <!-- ads for list pages -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-format="fluid"
          data-ad-client="ca-pub-4879856180927890"
          data-ad-slot="8780833767"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
  <div class="row text-center footer">
    {{partial "footer.html"}}
  </div>
  {{partial "js.html"}}
</body>
</html>
