<!DOCTYPE html>
<html lang="en">
<head>
  {{partial "head.html"}}
  <link rel="stylesheet" href="/css/screencasts.css"/>
</head>
<body class="container-fluid">
  {{partial "nav.html"}}
  <div class="row">
    <div class="jumbotron">
      <h1>Go In 5 Minutes Extended Screencasts</h1>
      <p>
        Go In 5 Minutes extended screencasts are 
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

  <div class="row text-center footer">
    {{partial "footer.html"}}
  </div>
  {{partial "js.html"}}
</body>
</html>
