{{ $blog_posts := where .Data.Pages "Type" "blog" }}
{{ $paginator := .Paginate $blog_posts }}
<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" }}
</head>
<body class="container-fluid">
  {{ partial "nav.html" . }}
  <div class="row">
    <div class="container">
      <div class="row">
        <h1 class="page-title">
          All Blog Posts
          <small>Newest on top</small>
        </h1>
      </div>
      <div class="row text-center">
        <i>
          The Go in 5 minutes blog has a new home! 
          Head over to 
          <a href="https://medium.com/go-in-5-minutes">https://medium.com/go-in-5-minutes</a>
          to stay up to date. And give us a follow if you can, I'd really appreciate it!
        </i>
    </div>
      <div class="row">
        <!-- ads for the blog list -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-gw-c+2p-30-2w"
            data-ad-client="ca-pub-4879856180927890"
            data-ad-slot="8780833767"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="row">
        <p>
          <a
            class="btn btn-success btn-lg btn-inline"
            data-toggle="tooltip"
            title="Get periodic emails with new screencasts and valuable content, right in your inbox."
            href="/subscribe"
          >
            Subscribe to New Posts
          </a>
        </p>
      </div>
      {{ range $p := $paginator.Pages }}
      <div class="row media">
        <div class="date col-sm-1">
          {{dateFormat "Monday, Jan 2, 2006" $p.Date}}
        </div>
        <div class="col-sm-10">
          <h2>{{$p.Title}}</h2>
          <p>{{$p.Params.teaser}}</p>
          <div>
            <a class="btn btn-info" href="{{$p.RelPermalink}}">
              Read More - {{$p.ReadingTime}}
              {{ if (eq $p.ReadingTime 1) }} minute {{ else }} minutes {{ end }}
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row med-margin-top">
    {{ template "_internal/pagination.html" . }}
    </div>
  </div>


  <div class="row text-center footer">
    {{partial "footer.html"}}
  </div>
  {{partial "js.html"}}
</body>
</html>
