<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Go In 5 Minutes, a screencast series that presents short, informative and practical tips, patterns and best practices to Go developers."/>
<meta name="keywords" content="Programming, Go, Golang, Software, Software Engineering, Software Development, Technology, Screencast"/>
<meta name="author" content="Aaron Schlesinger"/>
<title>Go In 5 Minutes - Short, helpful screencasts for professional Go developers</title>

<link href="/css/bootstrap-3.3.5.min.css" rel="stylesheet"/>
<link href="/css/bootstrap-theme-3.3.5.min.css" rel="stylesheet"/>
<link href="/css/common.css" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Varela+Round|Cousine:400,700' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/jpeg" href="/img/gopher-student.jpg">
