<h3>Want more?</h3>
<p>
  This episode has a 1hr companion with much more detail.
</p>
<p>
  <a class="gumroad-button" href="https://gum.co/gifm-x-14">
    Get the Extended Screencast
  </a>
</p>
<p>
  <button
    type="button"
    class="btn btn-default"
    data-toggle="modal"
    data-target="#latest-screencast-more-info"
  >
    More info
  </button>
</p>
<!-- Modal -->
<div
  class="modal fade"
  id="latest-screencast-more-info"
  tabindex="-1"
  role="dialog"
  aria-labelledby="latest-screencast-more-info-label"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="latest-screencast-more-info-label">Extended Screencast for Episode 14</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          This extended screencast complements episode 14 with:
          <ul class="list-unstyled">
            <li>
              Details on how the html/template package works
            </li>
            <li>
              Advanced features
            </li>
            <li>
              Best practices for building larger template structures, suitable for a large web app
            </li>
          </ul>
        </div>
        <div class="row">
          Get the extended screencast if you're planning on building a larger app.
        </div>
        <div class="row">
          <a class="gumroad-button" href="https://gum.co/gifm-x-14">
            Buy it now
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
