<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand gifm-logo" href="/">Go In 5 Minutes</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/screencasts">Episodes</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
        <li><a href="/backers">Backers</a></li>
        <li>
          <a href="https://bitly.com/goin5minutes" target="_blank">
            Code <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://www.patreon.com/goin5minutes" target="_blank">
            Become a Patron 
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
