<form action="//arschles.us9.list-manage.com/subscribe/post?u=ff94afcee2bb9e7f3463400fe&id=b193ed3d52" method="post" target="_blank">
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" value="" name="EMAIL" id="email" placeholder="Email Address"/>
    <button type="submit" class="btn btn-success">Subscribe Now</button>
    <div>
      <small>We'll never abuse or sell your email address</small>
    </div>
  </div>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_ff94afcee2bb9e7f3463400fe_b193ed3d52" tabindex="-1" value=""/>
  </div>
</form>
