<!DOCTYPE html>
<html lang="en">
<head>
  {{partial "head.html"}}
  {{range $i, $css := .Params.extra_css}}
  <link href="{{$css}}" rel="stylesheet"/>
  {{end}}
</head>
<body class="container-fluid">
  {{partial "nav.html"}}
  <div class="container">
    <div class="row">
      {{if .Next}}
      {{if eq .Next.Type "screencast"}}
      <a class="btn btn-sm btn-link" href="{{.Next.RelPermalink}}" data-toggle="tooltip" title="{{.Next.Title}}">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Prev
      </a>
      {{end}}
      {{end}}
      <a class="btn btn-sm btn-link" href="/screencasts">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        All
      </a>
      {{if .Prev}}
      {{if eq .Prev.Type "screencast"}}
      <a class="btn btn-sm btn-link" href="{{.Prev.RelPermalink}}" data-toggle="tooltip" title="{{.Prev.Title}}">
        Next
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </a>
      {{end}}
      {{end}}
    </div>
    <div class="row">
      <h1>{{.Title}}</h1>
    </div>
    <div class="row col-sm-8">
      {{ .Content }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">

    </div>
  </div>
  <div class="row text-center footer">
    {{partial "footer.html"}}
  </div>

  {{partial "js.html"}}
</body>
</html>
