<!DOCTYPE html>
<html lang="en">
<head>
  {{partial "head.html"}}
  {{range $i, $css := .Params.extra_css}}
  <link href="{{$css}}" rel="stylesheet"/>
  {{end}}
</head>
<body class="container-fluid">
  {{partial "nav.html"}}
  <div class="container">
    <div class="row">
      <a class="btn btn-sm btn-link" href="/screencasts">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        All
      </a>
    </div>
    <div class="row">
      <h1>{{.Title}}</h1>
    </div>
    <div class="row col-sm-8">
      {{ .Content }}
    </div>
    <div class="row col-sm-8">
      <hr />
      <p>
        <i>
          If you enjoyed this screencast, please consider 
          <a href="https://www.patreon.com/goin5minutes">becoming a backer</a>
          and supporting Go in 5 Minutes. Cool stickers and more await you!
        </i>
      </p>
    </div>
  </div>
  <div class="row text-center footer">
    {{partial "footer.html"}}
  </div>

  {{partial "js.html"}}
</body>
</html>
