<!DOCTYPE html>
<html lang="en">
<head>
  {{partial "head.html"}}
  <link href="/css/blog.css" rel="stylesheet"/>
  {{range $i, $css := .Params.extra_css}}
  <link href="{{$css}}" rel="stylesheet"/>
  {{end}}
  <title>Go in 5 Minutes Financial Backers</title>
</head>
<body class="container-fluid">
  {{ partial "nav.html" }}
  <div class="container" style="padding-bottom:1em;">
    <div class="row page-header">
        <h1>Go in 5 Minutes Financial Backers</h1>
    </div>
    <div class="row">
      <p>
        I created Go in 5 Minutes because I believe short, focused screencasts are 
        one of the best ways to help Gophers all over the world advance their skills.
      </p>
      <p>
        The concepts I've covered in screencasts have helped developers get involved 
        in the community, get a new Go job, or just learn something new. Over 3000 
        Gophers have benefitted from the content so far.
      </p>
      <p>
        Financial contributions help pay for development of new material and production 
        of new screencasts.
      </p>
      <p>
        If you or your company has benefitted from the lessons that
        Go in 5 Minutes teaches, please consider financially 
        supporting the screencast by buying my lessons:

        <ul>
          <li>
            <a href="https://gumroad.com/l/hgHhj?wanted=true">
              The Ultimate Guide to Web Apps in Go
            </a> - <small>
              A subscription series that dives deep into the nuts and bolts of 
              building full-stack web apps in Go. Since this is a subscription, 
              you'll always be up to date on the latest in the fast moving 
              world of Go web apps
            </small>
          </li>
          <li>
            <a href="https://gumroad.com/l/gifm-1-10?wanted=true">
              The bundle of the first 10 episodes
            </a> - <small>
              A bundle of the first 10 episodes. All are DRM-free, HD, 
              and you can download them and watch them anywhere. 
              If you're just getting started with Go, I recommend this!
            </small>
          </li>
        </ul>
      </p>
      <p>
        Below is a list of the financial contributors.
      </p>
    </div>
    <div class="row">
        <h1>Sponsors</h1>
        <h2>
            <a href="https://www.lightcodelabs.com/">
            Light Code Labs
            </a>
        </h2>
        <img src="/img/light-code-labs.png"/>
        <h3>
            <a href="https://patreon.com/goin5minutes">
                Your Company Here
            </a>
        </h3>
    </div>
  </div>
  {{partial "footer.html"}}
  {{partial "js.html"}}
</body>
</html>
