<!DOCTYPE html>
<html lang="en">
<head>
  {{partial "head.html"}}
  <link href="/css/blog.css" rel="stylesheet"/>
  {{range $i, $css := .Params.extra_css}}
  <link href="{{$css}}" rel="stylesheet"/>
  {{end}}
</head>
<body class="container-fluid">
  {{ partial "nav.html" }}
  <div class="container">
    <div class="row text-left">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="page-title bot-sm-1">
          {{ .Title }}
          <small>by {{ .Params.author }}</small>
          <div class="publish-date"><small>{{ dateFormat "Monday, Jan 2, 2006" $.Date }}</small></div>
        </h1>
      </div>
    </div>
    <div class="row text-center">
        <!-- ads for the individual content page -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-4879856180927890"
            data-ad-slot="2682329272"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2 blog-content text-left">
        {{ .Content }}
      </div>
    </div>
    <div class = "row text-center top-sm-1">
      <div class="col-sm-4 col-sm-offset-4">
        Thanks for reading! Ready for more?
        <a class="btn-lg btn-success btn-block" type="button" href="/screencasts">
          Check out the Screencasts
        </a>
      </div>
    </div>
    <div class="row text-center footer">
    {{partial "footer.html"}}
    </div>
  </div>
  {{partial "js.html"}}
</body>
</html>
