<!DOCTYPE html>
<html lang="en">
<head>
  {{partial "head.html"}}
  <link href="/css/blog.css" rel="stylesheet"/>
  {{range $i, $css := .Params.extra_css}}
  <link href="{{$css}}" rel="stylesheet"/>
  {{end}}
</head>
<body class="container-fluid">
  {{ partial "nav.html" }}
  <div class="container">
    <div class="row text-left">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="page-title bot-sm-1">
          {{ .Title }}
          <small>by {{ .Params.author }}</small>
          <div class="publish-date"><small>{{ dateFormat "Monday, Jan 2, 2006" $.Date }}</small></div>
        </h1>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <i>
          The Go in 5 minutes blog has a new home! 
          Head over to 
          <a href="https://medium.com/go-in-5-minutes">https://medium.com/go-in-5-minutes</a>
          to stay up to date. And give us a follow if you can, I'd really appreciate it!
        </i>
    </div>
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2 blog-content text-left top-sm-1">
        {{ .Content }}
      </div>
    </div>
    <div class = "row text-center top-sm-1">
      <div class="col-sm-4 col-sm-offset-4">
        Thanks for reading! Ready for more?
        <a class="btn-lg btn-success btn-block" type="button" href="/screencasts">
          Check out the Screencasts
        </a>
      </div>
    </div>
    <div class="row text-center footer">
    {{partial "footer.html"}}
    </div>
  </div>
  {{partial "js.html"}}
</body>
</html>
