img.aaron-headshot {
  max-height: 20em;
}

div.start-button-row {
  margin-top:2em;
  margin-bottom:2em;
}

.gifm-subtitle {
  text-transform: uppercase;
  font-weight:900;
  /*color: #92A1B9;*/
}

#gifm-rotating-topics {
  font-family: 'Varela Round', sans-serif;
}

#gifm-elaboration {
  font-family: 'Cousine', ;
}

#gifm-landing-jumbotron p.gifm-subtitle {
  color:#000000;
}

.bordered {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
